

.footer {
  
  height: auto;
  padding: 0 7.5em;
}

.column {
  display: flex;
  flex-direction: column;
  
}



a {
  text-decoration: none;
  font-size: 1rem;
  color: #8A898A;
  padding: 1em;
  transition: 0.3s;
}

a:hover {
  color: black;
}

