
<div class="title-container">
  <h2>ABOUT US</h2>
</div>

<section class="main-section">
  <p>
    This is an app I created to practice with angular material.  So 
    I will be adding some items to this page just to test them out.  
    Maybe a small calender, some buttons, etc.
  </p>

  <mat-tab-group class="mat-tab">
    <mat-tab label="First">
      <p>
        This is the Content of the first mat tab 
      and I just want to say this is awesome.
      </p>
    </mat-tab>
    
    <mat-tab label="Second">
      <p>
        This is the Content of the second mat tab 
      and I just want to say this is awesome.
      </p>
    </mat-tab>

    <mat-tab label="Third">
      <p>
        This is the Content of the third mat tab 
      and I just want to say this is awesome.
      </p>
    </mat-tab>
  </mat-tab-group>
</section>

<section class="sub-section">

</section>