



.container-1 {
  display: flex;
  margin: 10em 20em;
}

.box-1 {
  display: block;
}

.box-1 h2 {
  font-size: 2rem;
}

.btn {
  padding: 0.5em 2em;
  border: none;
  border-radius: 2em;
  background-color: #353535;
  color: #3298F5;
  font-size: 1.2rem;
  font-weight: 600;
}

.img {
  width: 300px;
}