

/* Main wrapper */
.main-container {
  margin: 5em 5em;
}

/* Containers */
.container-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.container-2 {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

/* Boxes */
.box {
  display: block;
  padding: 2rem;
}

.box h2 {
  font-size: 2.5rem;
  line-height: 1.5em;
}

.box h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #3298F5;
}

.box p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6em;
}

.box-2 {
  max-width: 50%;
}

/* Buttons, hr's, images */
.btn {
  padding: 0.6em 1.7em;
  border: none;
  border-radius: 2em;
  background-color: #353535;
  color: #3298F5;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1em 0;
}

hr {
  margin: 1rem;
}

.img {
  width: 350px;
}



