
.header {
  background-color: rgb(225, 225, 225);
}

.icon {
  background-color: #fff;
}




/* a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
  font-size: 1rem;
}

.small-text {
  font-size: 0.8rem;
} */