
<mat-toolbar class="header">

  <mat-toolbar-row class="logo-box">
    <h2 class="logo">Angular</h2>
  </mat-toolbar-row>

  <mat-toolbar-row class="nav-links">
    <div class="link-box">
      <a routerLink="/main">Home</a>
    </div>
    <div class="link-box">
      <a routerLink="/about">DevOps</a>
    </div>
    <div class="link-box">
      <a routerLink="/store">Documents</a>
    </div>
    <div class="link-box">
      <a routerLink="/contact">Contact</a>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
