

.header {
  display: flex;
  flex-direction: row;
  background-color: #353535;
}

.logo {
  font-size: 2rem;
  padding-left: 3em;
  color: #fff;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  padding-right: 6em;
}

.link-box {
  height: 94%;
  width: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.link-box:hover {
  border-bottom: 5px solid #fff;
  margin-bottom: -5px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
